<div class='error-container'>
  <div class='error-card'>
    <h2>UPS! ALGO SALIÓ MAL!</h2>
    <p>ERROR: {{error}}</p>
    <p>Haz click <a href='/users/login'> >> AQUÍ << </a> para redirigirte a la página principal.</p>
  </div>
</div>