<div>
  <h2>Login using Github!</h2>
  <a href='/api/sessions/github'><button>Login with Github</button></a>
  <br>
  <h3>¿No quieres usar github? Puedes usar nuestros enlaces:</h3>
  <p>¿No estás registrado? <a href='/users/register'>Registrate aquí</a></p>
  <p>¿Ya tienes una cuenta con nosotros? <a href='/users/login'>Ingresa aquí</a></p>
</div>