<section class='login'>
  <div class='form-container'>
    <h1>LOGIN</h1>
    <form id="loginForm" class='user-form'>
      <label>Email:</label>
      <input name="email">
      <br/>
      <label>Contraseña:</label>
      <input name="password">
      <br/>
      <div class="send">
        <input type="submit">
      </div>
    </form>
    <p>¿No estás registrado? <a href="/users/register">Regístrate aquí</a></p>
    <button class="send"><a href='/api/sessions/github'>Entrar con Github</a></button>
  </div>
</section>

<script src="/js/login.js"></script>
