<section class="login">
  <div class="form-container">
    <h1>REGISTRO</h1>
    <form id="registerForm" class='user-form'>
      <label>Nombre:</label>
      <input name="first_name">
      <br/>
      <label>Apellido:</label>
      <input name="last_name">
      <br/>
      <label>Email:</label>
      <input name="email">
      <br/>
      <label>Edad:</label>
      <input name="age">
      <br/>
      <label>Contraseña:</label>
      <input name="password">
      <br/>
      <div class="send">
        <input type="submit">
      </div>    
      </form>
    <p>¿Ya tienes una cuenta? <a href="/users/login">Ingresa aquí</a></p>
  </div>
</section>

<script src="/js/register.js"></script>
