<section class='login'>
  <div class='form-container'>
    <h1> Reestableza su contraseña: </h1>
    <br/>
    <form id="passwordForm" class="user-form">
      <label>Escriba su nueva contraseña</label>
      <input type="text" name="newPassword">
      <br/>
      <label> Repita nuevamente la contraseña</label>
      <input type="text" name="repeatPassword">
      <br/>
      <div class="send">
        <input type="submit">
      </div>
  </form>
  </div>
</section>

<script src="/js/restorePassword.js"></script>
