<div>
  <h1>Agrega un nuevo producto:</h1>
  <form id="productForm">
    <label>Nombre del producto:</label>
    <input name="title">
    <br/>
    <label>Categoría:</label>
    <input name="category">
    <br/>
    <label>Descripción:</label>
    <input name="description">
    <br/>
    <label>Precio:</label>
    <input name="price" type="number">
    <br/>
    <label>Thumbnail:</label>
    <input name="thumbnail">
    <br/>
    <label>Código:</label>
    <input name="code" type="number">
    <br/>
    <label>Stock:</label>
    <input name="stock" type="number">
    <br/>
    <label>Status:</label>
    <input name="status" type="boolean" placeholder="Escribe 'true' en este campo!">
    <input type="submit">
  </form>
  <p><a href="/products"> VER LISTADO DE PRODUCTOS >></a></p>
</div>

<script src="/js/uploadProduct.js"></script>