@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Nunito:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&family=Rye&display=swap');

/* font-family: 'Crimson Text', serif;
font-family: 'Nunito', sans-serif;
font-family: 'Rye', cursive; */

nav {
  background-color: black;
  color: white;
  padding: 10px 5px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
}

.nav-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

/* Welcome */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0;
  text-decoration: none;
}

#logoutBtn, .link-login, #viewCart {
  color: white;
  background-color: rgb(23, 22, 22);
  border-radius: 0.5rem;
  padding: 5%;
  width: 100px;
  text-decoration: none;
  text-align: center;
}


/* List of products: */

section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 3vw 0;
  gap: 2vw;
}

#products-container {
  background-color: rgb(174, 184, 184);
}

.product-card {
  background-color: rgb(232, 234, 234);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
  width: 250px;
  height: 300px;
  border-radius: 0.5rem;
}

h3 {
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid rgb(85, 94, 94);
  width: 100%;
}

.product-img {
  width: 200px;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5px;
}

.product-img img {
  object-fit: contain;
  height: 110px;
  border: 5px solid rgb(85, 94, 94);
}

.product-card button {
  color: white;
  background-color: rgb(23, 22, 22);
  border-radius: 0.5rem;
  margin-top: 10px;
  width: 50%;
}

/* Login & Register styles: */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, rgba(65,107,147,1) 22%, rgba(53,55,133,1) 58%, rgba(25,26,74,1) 100%);
  padding: 2%;
  font-family: 'Nunito', sans-serif;
  border-radius: 0.5rem;
  color: white;
}

.form-container a {
  color: white;
  font-weight: bolder;
}

.user-form input {
  width: 100%;
  margin-bottom: 5%;
  padding: 2% 0 2% 2%;
  font-family: 'Nunito', sans-serif;
}

.user-form label {
  font-weight: bold;
}

.send {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.send input, button.send {
  color: white;
  background-color: rgb(23, 22, 22);
  margin-top: 5%;
  width: 30%;
  border-radius: 0.5rem;
  padding: 2%;
}

/* Add products form */

.upload-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1% 1%;
  margin: 1% 0;
  font-family: 'Nunito', sans-serif;
  background-color: rgb(216, 199, 199);
}

/* Profile & current */

.profile-container {
  background-color: rgb(174, 184, 184);
  border-radius: 0.5rem;
  padding: 1%
}